exportPattern("^[[:alpha:]]+")
import(ape)
importFrom("graphics", "abline", "lines", "par", "plot", "points", "polygon")
importFrom("stats", "dnorm", "dunif", "optim", "rnorm", "runif", "var", "quantile")
importFrom("grDevices", "rainbow", "adjustcolor")