exportPattern("^[[:alpha:]]+")
import(ape)
importFrom("graphics", "abline", "lines", "par", "plot", "points", "polygon","legend")
importFrom("stats", "dnorm", "dunif", "optim", "rnorm", "runif", "var", "quantile","density")
importFrom("grDevices", "rainbow", "adjustcolor")